version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "${BACKEND_PORT:-8320}:5000"
    volumes:
      - ./backend:/app
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
      - FLASK_APP=app:create_app
    depends_on:
      - db
      - redis
    # TODO: Add a proper wait-for script.
    command: >
      sh -c "
        sleep 2;
        flask db upgrade && flask run --host=0.0.0.0"

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "${MYSQL_PORT:-3306}:3306"
    volumes:
      - db_data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    ports:
      - "${REDIS_PORT:-6379}:6379"
    restart: always

volumes:
  db_data: